.header {
  width: 100%;
  cursor: pointer;
  position: fixed;
  display: flex;
  justify-content: center;
  font-size: 5vw;
  padding-bottom: 15px;
  z-index: 100;
  background-color: blanchedalmond;
}

@media (max-width: 1000px) {
  .header {
    padding-top: 15px;
    font-size: 6.4vw;
  }
}
