.header {
  width: 100%;
  cursor: pointer;
  position: fixed;
  display: flex;
  justify-content: left;
  font-size: 3vw;
  padding-left: 5%;
  z-index: 100;
  color: #f29200;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: black;
  box-shadow: 0px 20px 30px black;
  align-items: center;
}
.title {
  /* text-align: center; */
}
.movieImage {
  padding: 3px;
  height: 5rem;
  width: 5rem;
}

@media (max-width: 1000px) {
  .header {
    padding-top: 15px;
    font-size: 8vw;
  }
}
@media (max-width: 500px) {
  .movieImage {
    height: 3rem;
    width: 3rem;
  }
}
