.navbar {
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  font-size: 3vw;
  padding-top: 60px;
  padding-bottom: 15px;
}

@media (max-width: 1000px) {
  .navbar {
    font-size: 4vw;
    padding-top: 80px;
  }
}
@media (max-width: 500px) {
  .navbar {
    font-size: 4vw;
    padding-top: 40px;
  }
}
