.navbar {
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  font-size: 3vw;
  padding-bottom: 15px;
  padding-top: 15px;
}

@media (max-width: 1000px) {
  .navbar {
    padding-top: 15px;
    font-size: 4vw;
  }
}
