* {
  scroll-behavior: smooth;
  margin: 0;
}
.app {
  min-height: 100vh;
  background-color: rgb(163, 8, 8);
  color: brown;
  padding-top: 130px;
}
@media (max-width: 700px) {
  .app {
    padding-bottom: 70px;
  }
}
