* {
  scroll-behavior: smooth;
  margin: 0;
}
.app {
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom,
    rgb(228, 0, 11),
    rgb(44, 58, 255)
  );
  color: rgb(240, 181, 34);
  padding-top: 130px;
}
.pageHeading {
  display: flex;
  justify-content: center;
  font-size: 4vw;
  padding: 5px;
  padding-bottom: 20px;
  font-weight: 700;
  border-radius: 50px;
  text-transform: uppercase;
}

@media (max-width: 1000px) {
  .pageHeading {
    font-size: 6.4vw;
  }
}

@media (max-width: 700px) {
  .app {
    padding-bottom: 70px;
  }
}
